# Weights & Biases (wandb) runs and cache
wandb/

# cache
training/__pycache__/
training/losses/__pycache__/

# data
datasets_pytorch/ai4forest_camera/data/
datasets_pytorch/ai4forest_camera/archive/
datasets_pytorch/ai4forest_camera/samples_eu.csv

# notebooks
# *.ipynb

# .txt
scripts/*.txt

# wandb table import and results export
wandb_export_models.csv
model_result_table.csv